
$Primary_Purple: hsl(259, 100%, 65%);
$Primary_Light_red: hsl(0, 100%, 67%);

$Neutral_White: hsl(0, 0%, 100%);
$Neutral_Off_white: hsl(0, 0%, 94%);
$Neutral_Light_grey: hsl(0, 0%, 86%);
$Neutral_Smokey_grey: hsl(0, 1%, 44%);
$Neutral_Off_black: hsl(0, 0%, 8%);

$Body_font: 'Poppins', sans-serif;;